label {
    color: #0092e7
}


h1 {
    color: #6c0909;
    margin-left: 470px
}


li {
    color: #00c033;
    margin-left: 200px;
    font-size: 19px;
    width: 1500px;
    padding: 7px;
    height: 70px;
}


div {
    border-style: dashed;
}

body {
    background-image: url(https://i.stack.imgur.com/pMAiU.jpg)
}
