body {
    font-family: sans-serif;
}

article {
    margin: 30px;
    padding: 30px;
    background: #f3f3f3;
}

h1 {
    color: black;
    font-weight: 800;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

h2 {
    color: grey;
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 20px;
}

img {
    width: 100%;
    margin-bottom: 20px;
}

.paragraph {
    color: #121212;
    margin-bottom: 20px;
}

.paragraph.styleparagraph {
    padding: 12px;
    color: dimgrey;
    font-style: italic;
    background: yellow;
}

ul {
    margin-bottom: 20px;
}


.subtitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}


.list {
    text-decoration: underline;
    font-size: 20px;
    margin: 4px;
}

.list.disabled {
    color: darkgrey;
}

.list.visited {
    color: blueviolet;
}

.list.uppercase {
    text-transform: uppercase;
}