@import "reset.css";
body{
    color: black;
    background: darkorchid;
    border-style: dotted;
}
label{
    background: aqua;
    color: red;
    font-size: 31px;
    margin-left: 78px;
    padding: 21px;
    height: 12px;
    width: 21px;
}
.purple{
    color: purple;
    font-size: larger;
    border-radius: revert;
}
input{
    margin: auto;
    padding: initial;
}
.hello{
    color: red;
    background: antiquewhite;
    margin-left: 115px;
    font-size: 72px;
    padding: 21px;
    height: 28px;
    width: 118px;
}